In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('sellado.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4661 entries, 0 to 4660
Data columns (total 37 columns):
FECHA                                3770 non-null object
SEMANA                               4591 non-null float64
TURNO                                3770 non-null float64
HORA DE INICIO                       3769 non-null object
RESPONSABLE                          4661 non-null object
OPERADORES                           4661 non-null object
NUMERO DE PEDIDO                     3769 non-null object
SELL.                                3770 non-null object
NOMBRE DEL PEDIDO                    3770 non-null object
TIPO DE BOLSA                        4661 non-null object
MEDIDA                               3765 non-null object
CALIBRE                              3689 non-null float64
GPM (Golpes por minuto)              310 non-null float64
TEMPERATURA DE SELLADO (INFERIOR)    301 non-null float64
TEMPERATURA DE SELLADO (SUPERIOR)    312 non-null float64
PESO/BULTO                           3766 non-null float64
KG/DE BOBINA                         3736 non-null float64
N° DE BULTOS                         3768 non-null float64
PROMEDIO                             4589 non-null object
MILLARES                             3758 non-null float64
SERIALIZADO INICIO                   700 non-null object
SERIALIZADO FIN                      696 non-null object
PESO DE TROQUEL                      3760 non-null float64
MERMA EXTRUSION                      3743 non-null float64
CAUSAS EXTRUSION                     4661 non-null object
MER IMPRESIÓN                        3751 non-null float64
CAUSAS IMPRESIÓN                     4661 non-null object
IMPRESIÓN  MERMA POR PROCESO         1041 non-null object
MERMA SELLADO                        3763 non-null float64
CAUSAS SELLADO                       4661 non-null object
BOLSA DE 2A                          3749 non-null float64
ORIGEN                               271 non-null object
CUARENTENA                           47 non-null object
BASURA                               3765 non-null float64
MUESTRAS                             3755 non-null object
HORA FINAL                           3767 non-null object
HORAS DE TRABAJO                     4593 non-null float64
dtypes: float64(17), object(20)
memory usage: 1.3+ MB

In [3]:
data.shape

(4661, 37)

In [4]:
data['SEMANA'].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       nan, 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26.,  0., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37.,
       38., 39., 40., 41.])

In [5]:
data['FECHA'].unique()

array(['2/1/19', '3/1/19', '4/1/19', '5/1/19', '7/1/19', '8/1/19',
       '9/1/19', '10/1/19', '11/1/19', '12/1/19', '14/01/2019',
       '15/01/2019', '16/01/2019', '17/01/2019', '18/01/2019',
       '19/01/2019', '21/01/2019', '22/01/2019', '23/01/2019',
       '24/01/2019', '25/01/2019', '26/01/2019', '28/01/2019',
       '29/01/2019', '30/01/2019', '31/01/2019', '1/1/19', '1/2/19',
       '2/2/19', '5/2/19', '6/2/19', '7/2/19', '8/2/19', '9/2/19',
       '11/2/19', '12/2/19', '13/02/2019', '14/02/2019', '15/02/2019',
       '16/02/2019', '18/02/2019', '19/02/2019', '20/02/2019',
       '21/02/2019', '22/02/2019', '23/02/2019', '25/02/2019',
       '26/02/2019', '27/02/2019', '28/02/2019', '1/3/19', '2/3/19',
       '4/3/19', '5/3/19', '6/3/19', '7/3/19', '8/3/19', '9/3/19',
       '11/3/19', '12/3/19', '13/03/2019', '14/03/2019', '15/03/2019',
       '16/03/2019', '19/03/2019', '20/03/2019', '21/03/2019',
       '23/03/2019', '22/03/2019', '25/03/2019', '26/03/2019', nan,
       '27/03/2019', '28/03/2019', '29/03/2019', '30/03/2019', '1/4/19',
       '2/4/19', '3/4/19', '4/4/19', '5/4/19', '6/4/19', '8/4/19',
       '9/4/19', '10/4/19', '11/4/19', '12/4/19', '13/04/2019',
       '15/04/2019', '16/04/2019', '17/04/2019', '18/04/2019',
       '22/04/2019', '23/04/2019', '24/04/2019', '25/04/2019',
       '26/04/2019', '27/04/2019', '29/04/2019', '30/04/2019', '1/5/19',
       '2/5/19', '3/5/19', '6/5/19', '7/5/19', '8/5/19', '9/5/19',
       '10/5/19', '11/5/19', '13/05/2019', '14/05/2019', '15/05/2019',
       '16/05/2019', '17/05/2019', '18/05/2019', '20/05/2019',
       '21/05/2019', '22/05/2019', '23/05/2019', '24/05/2019',
       '25/05/2019', '27/05/2019', '28/05/2019', '29/05/2019',
       '30/05/2019', '31/05/2019', '1/6/19', '3/6/19', '4/6/19', '5/6/19',
       '6/6/19', '7/6/19', '8/6/19', '10/6/19', '11/6/19', '12/6/19',
       '13/06/2019', '14/06/2019', '15/06/2019', '17/06/2019',
       '18/06/2019', '19/06/2019', '20/06/2019', '21/06/2019',
       '22/06/2019', '22//06/2019', '24/06/2019', '25/06/2019',
       '26/06/2019', '27/06/2019', '28/06/2019', '29/06/2019', '1/7/19',
       '2/7/19', '3/7/19', '4/7/19', '5/7/19', '6/7/19', '8/7/19',
       '9/7/19', '10/7/19', '11/7/19', '12/7/19', '13/07/2019',
       '15/07/2019', '16/07/2019', '17/07/2019', '18/07/2019',
       '19/07/2019', '20/07/2019', '22/07/2019', '23/07/2019',
       '24/07/2019', '25/07/2019', '26/07/2019', '27/07/2019',
       '31/07/2019', '1/8/19', '2/8/19', '3/8/19', '5/8/19', '6/8/19',
       '7/8/19', '8/8/19', '9/8/19', '10/8/19', '12/8/19', '13/08/2019',
       '14/08/2019', '15/08/2019', '16/08/2019', '17/08/2019',
       '18/08/2019', '19/08/2019', '20/08/2019', '21/08/2019',
       '22/08/2019', '23/08/2019', '24/08/2019', '26/08/2019',
       '27/08/2019', '28/08/2019', '29/08/2019', '30/08/2019',
       '31/08/2019', '2/9/19', '3/9/19', '4/9/19', '5/9/19', '6/9/19',
       '7/9/19', '9/9/19', '10/9/19', '11/9/19', '12/9/19', '13/09/2019',
       '14/09/2019', '17/09/2019', '18/09/2019', '19/09/2019',
       '20/09/2019', '21/09/2019', '23/09/2019', '24/09/2019',
       '25/09/2019', '26/09/2019', '27/09/2019', '28/09/2019',
       '30/09/2019', '1/10/19', '10/10/19', '2/10/19', '3/10/09',
       '3/10/19', '10/2/19', '#VALUE!'], dtype=object)

In [6]:
# se observa el índice en la columna fecha desde el que comienzan los valores nulos y se eliminan
data[data['FECHA'].isnull()]['FECHA']# = data['SEMANA'].interpolate(method='pad')

945     NaN
3768    NaN
3769    NaN
3770    NaN
3771    NaN
       ...
4655    NaN
4656    NaN
4657    NaN
4658    NaN
4659    NaN
Name: FECHA, Length: 891, dtype: object

In [7]:
data = data.iloc[:3768]

In [8]:
data.tail(10)

,FECHA,SEMANA,TURNO,HORA DE INICIO,RESPONSABLE,OPERADORES,NUMERO DE PEDIDO,SELL.,NOMBRE DEL PEDIDO,TIPO DE BOLSA,...,IMPRESIÓN MERMA POR PROCESO,MERMA SELLADO,CAUSAS SELLADO,BOLSA DE 2A,ORIGEN,CUARENTENA,BASURA,MUESTRAS,HORA FINAL,HORAS DE TRABAJO
3758,3/10/09,40.0,1.0,6:00:00 a. m.,RESPONSABLE6,OPERADORES12,SAP-2676,SEL012,TEPU-001,TIPODEBOLSA2,...,0.55,0.05,CAUSASSELLADO1,0.0,NaN,NaN,0.17,0.04,14:00:00,8.0
3759,2/10/19,40.0,2.0,2:00:00 p. m.,RESPONSABLE1,OPERADORES10,SAP-240919,SEL005,CHED-002,TIPODEBOLSA7,...,0,0.27,CAUSASSELLADO1,0.0,NaN,NaN,0.00,0,22:00:00,8.0
3760,2/10/19,40.0,2.0,2:00:00 p. m.,RESPONSABLE1,OPERADORES1,SAP-2665,SEL010,MRHI-002,TIPODEBOLSA2,...,5.48,4.00,CAUSASSELLADO1,0.0,NaN,NaN,0.48,0,18:20:00,4.3
3761,2/10/19,40.0,2.0,2:00:00 p. m.,RESPONSABLE1,OPERADORES1,SAP-2662A,SEL010,HIEL-002,TIPODEBOLSA2,...,0,2.15,CAUSASSELLADO1,0.0,NaN,NaN,0.00,0,20:00:00,6.0
3762,2/10/19,40.0,2.0,8:30:00 p. m.,RESPONSABLE1,OPERADORES1,280919,SEL009,PROI-028,TIPODEBOLSA1,...,0,6.00,CAUSASSELLADO1,0.0,NaN,NaN,0.00,0,22:00:00,1.5
3763,2/10/19,40.0,2.0,10:00:00 p. m.,RESPONSABLE1,OPERADORES11,SAP-2676,SEL012,TEPU-001,TIPODEBOLSA2,...,0,0.00,CAUSASSELLADO2,0.0,NaN,NaN,0.03,0.08,22:00:00,0.0
3764,3/10/19,40.0,3.0,10:00:00 p. m.,RESPONSABLE2,OPERADORES4,SAP-240919,SEL005,CHED-002,TIPODEBOLSA7,...,0,0.36,CAUSASSELLADO1,0.0,NaN,NaN,0.05,0.07,6:00:00,8.0
3765,3/10/09,40.0,3.0,10:00:00 p. m.,RESPONSABLE2,OPERADORES5,280919,SEL009,PROI-028,TIPODEBOLSA3,...,0,14.10,CAUSASSELLADO1,0.0,NaN,NaN,0.54,0.08,6:00:00,8.0
3766,3/10/19,40.0,3.0,10:00:00 p. m.,RESPONSABLE2,OPERADORES3,SAP-2650B,SEL011,LAHO-007,TIPODEBOLSA5,...,0,4.46,CAUSASSELLADO1,0.0,NaN,NaN,0.00,0,6:00:00,8.0
3767,3/10/19,40.0,3.0,10:00:00 p. m.,RESPONSABLE2,OPERADORES8,SAP-2676,SEL012,TEPU-001,TIPODEBOLSA2,...,0.51,0.15,CAUSASSELLADO1,0.0,NaN,NaN,0.18,0,6:00:00,8.0

In [9]:
# se interpola el dato faltante en el indice 945
data['FECHA'] = data['FECHA'].interpolate(method='pad')

In [10]:
data['SEMANA'] = data['SEMANA'].interpolate(method='pad')

In [17]:
# zero pad a fechas de mes y dia
#data['FECHA_day'] = data['FECHA'].apply(lambda x: x.split('/')[0])
#data['FECHA_month'] = 
#data['FECHA'].apply(lambda x: x.split('/')[1]).unique()
#data['FECHA_year'] = 
data['FECHA'].apply(lambda x: x.split('/')[2]).unique()
#se cambia FECHA a formato de fecha
#pd.to_datetime(data['FECHA'], format='%d/%m/%y')

array(['19', '2019', '06', '09'], dtype=object)

In [11]:
# se generan las semanas de acuerdo a las fechas
data['SEMANA2'] = data['FECHA'].dt.week

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
data[data['SEMANA'] != data['SEMANA2']][['SEMANA','SEMANA2', 'FECHA']]

In [ ]:
data['FECHA'].max()

## Observaciones
El data set no viene ordenado como