In [1]:
import pandas as pd

In [11]:
df_ex = pd.read_csv('./datos_limpios/cln_extrusion.csv', parse_dates=['fecha_chida'])
df_ex.head()

,FECHA,TURNO,EXTRUSORA,OPERADOR,N° DE PEDIDO,NOMBRE DE PEDIDO,CLAVE SAP,TIPO DE PRODUCTO,MEDIDA DE LA BOLSA,TRATADO,...,% DE BASURA,CONSUMO MP,% MATERIA PRIMA,HORAS DE TRABAJO,month,day,year,fecha_chida,week_chida,SEMANA
0,"January 2, 2019",1.0,5.0,OPERADOR1,SAP-020119,NOMBREDEPEDIDO1,NaN,TIPODEPRODUCTO1,25X35,NaN,...,#DIV/0!,17.1,#DIV/0!,1.05,1,2,2019,2019-01-02,1,1.0
1,"January 2, 2019",1.0,10.0,OPERADOR1,SAP-020119,NOMBREDEPEDIDO1,NaN,TIPODEPRODUCTO1,25X35,NaN,...,#DIV/0!,15.2,#DIV/0!,0.33,1,2,2019,2019-01-02,1,1.0
2,"January 2, 2019",1.0,10.0,OPERADOR2,SAP-020119,NOMBREDEPEDIDO1,NaN,TIPODEPRODUCTO1,25X35,NaN,...,0.00%,57.,100.00%,2.08,1,2,2019,2019-01-02,1,1.0
3,"January 2, 2019",1.0,10.0,OPERADOR1,SAP-020119,NOMBREDEPEDIDO1,NaN,TIPODEPRODUCTO1,25X35,NaN,...,0.00%,23.7,100.00%,1.25,1,2,2019,2019-01-02,1,1.0
4,"January 2, 2019",1.0,11.0,OPERADOR1,SAP-020119,NOMBREDEPEDIDO1,NaN,TIPODEPRODUCTO1,15X27,NaN,...,#DIV/0!,18.3,#DIV/0!,0.82,1,2,2019,2019-01-02,1,1.0

In [13]:
df_ex['weekday'] = df_ex['fecha_chida'].dt.weekday.apply(lambda x: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'][x])
df_ex['weekday'].unique()

array(['Miercoles', 'Jueves', 'Viernes', 'Lunes', 'Martes', 'Sabado'],
      dtype=object)

    fecha_chida weekday
389  2019-01-12  Sabado
390  2019-01-12  Sabado
391  2019-01-12  Sabado
392  2019-01-12  Sabado
393  2019-01-12  Sabado
394  2019-01-12  Sabado
395  2019-01-12  Sabado
396  2019-01-12  Sabado
397  2019-01-12  Sabado
398  2019-01-12  Sabado
399  2019-01-12  Sabado
400  2019-01-12  Sabado
401  2019-01-12  Sabado
402  2019-01-12  Sabado
403  2019-01-12  Sabado
404  2019-01-12  Sabado
405  2019-01-12  Sabado
406  2019-01-12  Sabado
407  2019-01-12  Sabado
408  2019-01-12  Sabado
409  2019-01-12  Sabado
410  2019-01-12  Sabado
411  2019-01-12  Sabado
412  2019-01-12  Sabado
413  2019-01-12  Sabado
414  2019-01-12  Sabado
415  2019-01-12  Sabado
416  2019-01-12  Sabado
613  2019-01-19  Sabado
614  2019-01-19  Sabado
615  2019-01-19  Sabado
616  2019-01-19  Sabado
617  2019-01-19  Sabado
618  2019-01-19  Sabado
619  2019-01-19  Sabado
620  2019-01-19  Sabado
621  2019-01-19  Sabado
622  2019-01-19  Sabado
623  2019-01-19  Sabado
624  2019-01-19  Sabado
625  2019-01-19  Sabado
626  2019-01-19  Sabado
627  2019-01-19  Sabado
628  2019-01-19  Sabado
629  2019-01-19  Sabado
630  2019-01-19  Sabado
631  2019-01-19  Sabado
632  2019-01-19  Sabado
633  2019-01-19  Sabado
634  2019-01-19  Sabado
635  2019-01-19  Sabado
636  2019-01-19  Sabado
637  2019-01-19  Sabado
638  2019-01-19  Sabado
639  2019-01-19  Sabado
640  2019-01-19  Sabado
641  2019-01-19  Sabado
642  2019-01-19  Sabado
643  2019-01-19  Sabado
860  2019-01-26  Sabado